@import '../consts.scss';
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.header-body {
  height: 47px;
  flex: 1;
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  margin-left: 10px;
  margin-right: 10px;
}
.header-section {
  display: flex;
  align-items: center;
}
.header-section-middle {
  display: none;
  align-items: center;
  @media (min-width: $lg) {
    display: flex;
  }
}
input {
  flex: 1;
  padding: 10px;
  border-color: transparent;
  text-align: left;
  font-size: 16px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
  &:focus-visible {
    outline: 0;
  }
}

.dropDown {
  display: inline-block;
  position: relative;
  flex: 1;
}

.dropDownBtn {
  color: black;
  background-color: #fff;
  text-decoration: none;
  transition: border-radius 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  border:0;
  height: 47px;
  margin-right: 10px;
  flex: 1;
  padding-right: 10px;
  &:focus-visible {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
    filter: invert(1);
    border-radius: 10px;
  }
}

.dropDownBtn-list {
  display: none;
  display: block;
  position: absolute;
  background-color: var(--gray);
  border-radius: 10px;
  width: 160px;
  height: 0px;
  top: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s;
  overflow: hidden;
  &.open {
    display: block;
    height: 100px;
    padding: 12px 16px;
  }
}

.header-link {
  color: black;
  text-decoration: none;
  display: none;
  transition: border-radius 0.6s;
  @media (min-width: $tablet) {
    display: inline;
  }
  &:hover {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
  }
}

.bag-badge {
  background-color: var(--red);
  color: #fff;
  position: absolute;
  right: 20px;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 7px;
  font-size: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0px 4px 11px 0px var(--red);
  -webkit-box-shadow: 0px 4px 11px 0px var(--red);
  -moz-box-shadow: 0px 4px 11px 0px var(--red);
}

.menu-shade {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  pointer-events: none;
  transition: all 0.2s;
  background-color: rgba(0,0,0,0.0);
  &.open {
  pointer-events: all;
  background-color: rgba(0,0,0,0.5);
  }
}
.menu {
  position: fixed;
  top: 87px;
  background-color: white;
  right: -320px;
  width: 0px;
  height: calc(100vh - 87px);
  z-index: 3;
  padding: 0px;
  width: 300px;
  transition: all 0.2s;
  box-shadow: -1px 1px 1px 0px var(--bright-gray);
  -webkit-box-shadow: -1px 1px 1px 0px var(--bright-gray);
  -moz-box-shadow: -1px 1px 1px 0px var(--bright-gray);
  &.open {
    padding: 10px;
    right: 0px;
  }
  .menu-link{
    display: block;
    text-decoration: none;
    color:#000;
  }
}
